@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background-color: #004173;
    color: white;
}
.container{
    width:30%;
    margin:50px auto;
    padding:30px 10px;
    background-color: rgb(218, 211, 211);
    
    font-size:1rem;
    font-family: 'Roboto', sans-serif;
    z-index: 100;
    font-weight: 500;
    
}
.heading{
    font-size: 3rem;
   text-align: center;
   margin-top:30px;
  /* text-decoration: underline; */
 /* text-decoration-style:dashed;
 text-decoration-color: #fff; */
    
}

.container {
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.button{

    margin: auto;
    background-color: rgb(69, 69, 150);
    color:white;
    border-radius: 5px;
    display: block;
    margin-top: 15px;
    width:150px;
    padding: 5px;
    font-size: 1.2rem;
}
.div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    align-items: center;
    
}
.companyName{
    display: block;
    margin-right:10px;
    
}
.companyText{
    margin:5px 0px;
    padding:5px ;
    border-radius: 5px;

}



.div .tooltiptext {
  visibility: hidden;
  width: 500px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 4px 6px;
margin:0px 450px;
 
  position: absolute;
  z-index: 1;
}
.div:hover .tooltiptext {
  visibility: visible;
  
}

  input,select  
{
   background-color: #002842;
   border:1px solid white;
   color: white;
}
input:hover{
    background-color:white;
    color: black;
}
@media only screen and (max-width:1080px) {
    .container{
        width: 60%;
        font-size:.7rem;
        
    }
    .tooltiptext{
        display: none;

    }
    .companyText{
       font-size: .5rem;
    }
  input,select  
{
    width:40%;
    font-size:.7rem;
}

  }

  .required{
     color: red;
     justify-self: flex-start;

  }
  .submitted{
    margin-top: 100px;
      display: none;
      font-size: 40px;
   text-align: center;
   
  }

 